[submodule ".registry"]
	path = .registry
	url = https://github.com/jd2112/jd2112.r-universe.dev
	branch = HEAD
[submodule "AlveolarCellTypeDeconvolution"]
	path = AlveolarCellTypeDeconvolution
	url = https://github.com/JD2112/Alveolar-Cell-Type-Deconvolution
[submodule "ComplexPCA"]
	path = ComplexPCA
	url = https://github.com/JD2112/ComplexPCA
[submodule "ShinyWGCNA"]
	path = ShinyWGCNA
	url = https://github.com/JD2112/Shiny-WGCNA
[submodule "jyotirmoymanifest"]
	path = jyotirmoymanifest
	url = https://github.com/JD2112/jyotirmoymanifest
[submodule "olinkWrapper"]
	path = olinkWrapper
	url = https://github.com/JD2112/olinkWrapper
